body{
  text-align: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

.light_theme {
  color: black;
  background-color: white;
}

.dark_theme {
  color: white;
  background-color: black;
}

